.App {
  text-align: center;
  background-color: darkturquoise;
  color: #fff;
}

.add-user-form {
  margin-bottom: 15px;
}

.users-list {
  list-style: none;
  width: 250px;
  padding: 0;
  margin: auto;

}

.users-list .user-item {
  color: #333;
  background-color: rgba(255,255,255, 0.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.users-list .user-item:hover {
  cursor: pointer;
  background-color: pink;
}